//main:../main.scss
.footer {
  background: $clr-footer;
  color: $clr-white;
  padding: 25px;
  &__heading {
    @include font-style($s-title);
    @include tablet-only {
      text-align: center;
    }
  }
  &__links {
    margin-top: 10px;
    line-height: 25px;
    @include font-style($m);
    @include tablet-only {
      @include flex($justify: center);
    }
  }
  &__link {
    @include tablet-only {
      margin: 0 10px;
    }
    &--with-icon {
      @include flex($align: center);
      & i {
        min-width: 25px;
        margin-right: 5px;
      }
    }
  }
}
