//main:../main.scss
.flex {
  display: flex;
  align-items: center;
  &--responsive-columns {
    flex-direction: column;
    @include laptop-only {
      flex-direction: row;
      justify-content: center;
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: $card-width;
  gap: 20px;
  justify-items: center;
  justify-content: center;
  @include tablet-only {
    grid-template-columns: repeat(2, $card-width);
  }
  @include laptop-only {
    grid-template-columns: repeat(3, $card-width);
  }
  @include laptop-hd-only {
    grid-template-columns: repeat(4, $card-width);
  }
}
