//main:../main.scss
.flex {
  display: flex;
  align-items: center;
  &--responsive-columns {
    flex-direction: column;
    @include laptop-only {
      flex-direction: row;
      justify-content: center;
    }
  }
  &--restaurants {
    flex-wrap: wrap;
    justify-content: center;
  }
}
