//main:../main.scss
.header {
  position: relative;
  z-index: 2;
  height: 65px;
  padding-top: 5px;
  text-align: center;
  @include blur-shadow;
  &__arrow {
    position: absolute;
    left: 25px;
    top: 20px;;
    @include font-style($l);
    @include laptop-only {
      @include font-style($xl);
    }
  }
  &__heading {
    line-height: 65px;
    @include font-style($xl-title);
  }
}
