//main:../main.scss
.header {
  position: relative;
  z-index: 2;
  height: 65px;
  padding-top: 5px;
  text-align: center;
  @include blur-shadow;
  &__heading {
    line-height: 65px;
    @include font-style($xl-title);
  }
}
