//main:../main.scss
.header {
  height: 65px;
  padding-top: 5px;
  text-align: center;
  @include minblur-shadow;
  z-index: 2;
  position: relative;
  &__heading {
    line-height: 65px;
    @include font-style(title);
  }
}
