//main:../main.scss
.section {
  background: $clr-bg;
  &--centered {
    text-align: center;
  }
  &--alt {
    background: $clr-bg-sec;
  }
  &__heading {
    padding: 0 20px;
    @include font-style($xl, $bold);
  }
  &__p {
    margin: 15px 0 20px 0;
    @include font-style($l, $light);
  }
}
