//main:../main.scss
.search {
  display: flex;
  padding: 15px 0 15px 80px;
  background: $clr-form;
  &__label {
    margin: 0 20px;
    cursor: pointer;
    &--hidden {
      display: none;
    }
  }
  &__input {
    width: 100%;
    border:  none;
    background: inherit;
    @include font-style($m);
  }
}
.operation {
  display: flex;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 75px;
  margin: 10px auto;
  border-radius: 25px;
  background: $clr-bg-sec;
  @include blur-shadow(0px, 5px, 15px, $clr-bg-sec);
  @include laptop-only {
    margin: 30px;
  }
  &--first {
    @include mobile-tablet-only {
      margin-top: 30px;
    }
  }
  &--alt {
    background: fade-out($clr-pri, 0.85);
  }
  &__number {
    transform: translateX(-15px);
    width: 25px;
    line-height: 25px;
    border-radius: 20px;
    background: $clr-pri;
    color: $clr-white;
    @include font-style($s);
  }
  &__icon {
    min-width: 20px;
    margin-left: 5px;
    margin-right: 20px;
    color: $clr-ico;
    @include font-style($l, $bold);
  }
  &__icon--alt {
    color: $clr-pri;
  }
  &__text {
    @include font-style(regular, $medium);
  }
}
