//main:../main.scss
.section-home {
  padding: 45px 0;
  &--centered {
    text-align: center;
    @include laptop-hd-only {
      padding: 60px 0;
    }
  }
  &--alt {
    background: $clr-white;
  }
  &__heading {
    padding: 0 $heading-padding;
    @include section-heading;
    @include font($xl, $bold);
    &--centered {
      @include tablet-only {
        text-align: center;
        margin-bottom: 50px;
      }
    }
    &--explore {
      @include mobile-xl-only {
        max-width: 300px;
      }
    }
  }
  &__p {
    margin: 20px 0;
    padding: 0 5px;
    @include font($l, $light);
  }
}
.search {
  background: $clr-form;
  max-width: 1000px;
  margin: auto;
  @include flex($justify: center);
  @include laptop-only {
    background: linear-gradient(to right, $clr-bg, $clr-form, $clr-bg);
  }
  &__label {
    width: 30%;
    padding: 15px 0;
    text-align: right;
    &--hidden {
      @include reset(display);
    }
  }
  &__input {
    width: 70%;
    padding: 15px 20px;
    background: transparent;
    @include reset(border);
    @include font($m);
  }
}
.operation {
  transform: translateX(5px);
  text-align: center;
  width: 90%;
  max-width: 320px;
  height: 75px;
  margin: 10px auto;
  border-radius: 25px;
  background: $clr-bg;
  @include flex($align: center);
  @include shadow(0px, 5px, 15px);
  @include laptop-only {
    margin: 0 30px;
  }
  &--alt {
    background: fade-out($clr-pri, 0.85);
  }
  &__container {
    @include flex($align: center, $direction: column);
    @include laptop-only {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__number {
    transform: translateX(-15px);
    width: 25px;
    line-height: 25px;
    border-radius: 20px;
    background: $clr-pri;
    color: $clr-white;
    @include font($s);
  }
  &__icon {
    min-width: 20px;
    margin-left: 5px;
    margin-right: 20px;
    color: $clr-ico;
    @include font($l, $bold);
  }
  &__icon--alt {
    color: $clr-pri;
  }
  &__text {
    @include font(null, $medium);
  }
}
