//main:../main.scss
.section-menu {
  padding: 0 0 20px 0;
  &__heading {
    position: relative;
    padding: 0 $heading-padding 8px $heading-padding;
    text-transform: uppercase;
    @include section-heading;
    @include font($m, $light);
    &::after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 0;
      width: 40px;
      height: 3px;
      background: $clr-ter;
    }
  }
}
.presentation {
  position: relative;
  height: 300px;
  @include tablet-only {
    height: 400px;
  }
  @include laptop-only {
    height: 500px;
  }
  &__picture {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center 60%;
  }
  &__heading {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: $menu-width + 20px;
    padding: 20px;
    border-radius: 40px 40px 0 0;
    line-height: 65px;
    background: $clr-bg;
    @include tablet-only {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__name {
    @include font($l-title);
  }
}
