//main:../main.scss
.presentation {
  position: relative;
  height: 300px;
  @include tablet-only {
    height: 400px;
  }
  @include laptop-only {
    height: 500px;
  }
  &__picture {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center 60%;
  }
  &__heading {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-radius: 40px 40px 0 0;
    line-height: 65px;
    background: $clr-bg-sec;
    @include laptop-hd-only {
      max-width: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__name {
    @include font-style($l-title);
  }
}
.loading-block {
  animation: ($load-block-dur + 100ms) slideY backwards, $load-block-dur fadein backwards;
  @for $i from 1 through $load-block-num {
    &--#{$i} {
      animation-delay: $load-block-delay * $i;
    }
  }
}
