//main:../main.scss

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  width: 100%;
}
section {
  max-width: $tablet-width;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
h1, h2 {
  display: inline;
}
