//main:../main.scss

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, section, h2, h1 {
  margin: 0 auto;
}
body {
  width: 100%;
}
section {
  //max-width: $tablet-width;
  padding: 45px 0;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
