//main:../main.scss

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, section, h1, h2 {
  margin: 0 auto;
}
body {
  background: $clr-bg;
}
input {
  @include reset(outline);
}
a {
  color: inherit;
  @include reset(text-decoration);
}
ul {
  @include reset(margin, padding, list-style);
}
label {
  cursor: pointer;
}
