//main:../main.scss
.btn {
  position: relative;
  z-index: 1;
  display: block;
  width: 215px;
  margin: 10px auto;
  border-radius: $btn-radius;
  background: linear-gradient($clr-sec, $clr-pri);
  color: $clr-btn;
  text-align: center;
  line-height: 50px;
  @include blur-shadow;
  @include font-style(initial, $medium);
  &::after {
    content: "";
    @include position(absolute, 0);
    z-index: -1;
    opacity: 0;
    border-radius: $btn-radius;
    background: linear-gradient(lighten($clr-sec, 5%), lighten($clr-pri, 5%));
    transition: all 300ms ease-out;
    @include blur-shadow(0, 1px, 20px, darken($clr-bg-sec, 5%));
  }
  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &--menu {
    margin: 15px auto 70px auto;
  }
}
