//main:../main.scss
.card {
  display: block;
  position: relative;
  width: $card-width;
  border-radius: 15px;
  overflow: hidden;
  @include blur-shadow;
  @include mobile-xs-only {
    width: 95%;
  }
  &--new::before {
    content: "Nouveau";
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 15px;
    line-height: 30px;
    background: $clr-ter;
    color: darken($clr-ter, 40%);
    @include font-style($s, $medium);
  }
  &__picture img {
    width: $card-width;
    height: $card-picture-height;
    object-fit: cover;
    -o-object-fit: cover;
  }
  &__text {
    position: relative;
    margin: 15px;
  }
  &__heading {
    position: relative;
    margin: 5px 0;
  }
  &__location {
    margin: 5px 0;
    @include font-style(initial, $light);
  }
  &__link {
    @include position;
  }
}
