//main:../main.scss
.dishcard {
  position: relative;
  display: flex;
  //justify-content: space-between;
  width: 95%;
  max-width: $menu-width;
  min-height: 70px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
  background: $clr-bg;
  cursor: pointer;
  @include blur-shadow;
  &__l-container {
    width: 100%;
    display: block;
    height: inherit;
    padding: 13px 0 13px 13px;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 600ms ease-in-out;
  }
  &__r-container {
    display: flex;
    justify-content: flex-end;
    min-height: 70px;
  }
  &__heading {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-bottom: 5px;
    @include font-style($l, $medium);
  }
  &__infos {
    @include font-style($m, $light);
  }
  &__price {
    align-self: flex-end;
    width: 26px;
    margin: 0 20px 10px 10px;
    transition: all 500ms 100ms ease-in-out;
    @include font-style($m, $medium);
  }
  &__added {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 60px;
    background: $clr-ter;
    color: $clr-white;
    text-align: center;
    transform: translateX(60px);
    transition: transform 600ms ease-in-out;
    @include font-style($l);
  }
  &__added i {
    transition: all 600ms ease-in-out;
  }
  &__checkbox {
    display: none;
    &:checked ~ span {
      white-space: nowrap;
    }
    &:checked ~ span .dishcard__price {
      width: 90px;
    }
    &:checked ~ span .dishcard__added {
      transform: translateX(0);
    }
    &:checked ~ span .dishcard__added i {
      transform: rotate(2turn);
    }
  }
}
