//main:../main.scss
.dishcard {
  @include flex;
  position: relative;
  width: 95%;
  max-width: $menu-width;
  min-height: 70px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
  background: $clr-white;
  cursor: pointer;
  @include shadow;
  &__block {
    animation: ($load-block-dur + 100ms) slideY backwards,
    $load-block-dur fadein backwards;
    @for $i from 1 through $load-block-num {
      &--#{$i} {
        animation-delay: $load-block-delay * $i;
      }
    }
  }
  &__l-container {
    width: 100%;
    display: block;
    height: inherit;
    padding: 13px 0 13px 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__r-container {
    @include flex($justify: flex-end);
    min-height: 70px;
  }
  &__text {
    display: block;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all $added-dur $added-dur ease-in-out;
    @include font($m, $light);
    &--heading {
      margin-bottom: 5px;
      @include font($l, $medium);
    }
  }
  &__price {
    align-self: flex-end;
    width: 26px;
    margin: 0 20px 10px 10px;
    transition: all ($added-dur - $added-delay) $added-delay ease-in-out;
    @include font($m, $medium);
  }
  &__added {
    @include flex($justify: center, $align: center);
    position: absolute;
    width: 60px;
    background: $clr-ter;
    color: $clr-white;
    text-align: center;
    transform: translateX(60px);
    transition: transform $added-dur ease-in-out;
    @include reset(top, bottom, right);
    @include font($l);
  }
  &__added i {
    transition: all $added-dur ease-in-out;
  }
  &__checkbox {
    @include reset(display);
    &:checked ~ span {
      white-space: nowrap;
    }
    &:checked ~ span .dishcard__text {
      max-height: 18px;
    }
    &:checked ~ span .dishcard__text--heading {
      max-height: 22px;
    }
    &:checked ~ span .dishcard__price {
      width: 90px;
    }
    &:checked ~ span .dishcard__added {
      transform: translateX(0);
    }
    &:checked ~ span .dishcard__added i {
      transform: rotate(2turn);
    }
  }
}
