//main:../main.scss
@mixin font($size: null, $weight: null) {
  @if ($size == $xl-title or $size == $l-title or $size == $s-title) {
    font-family: $font-title;
  }
  @if ($size != null) {
    font-size: $size;
  }
  @if ($weight != null) {
    font-weight: $weight;
  }
}
@mixin section-heading {
  margin-bottom: 20px;
  max-width: $menu-width + $heading-padding;
}
@mixin shadow($x: 0, $y: 1px, $blur: 10px, $color: $clr-bg) {
  box-shadow: $x $y $blur darken($color, 15%);
}
@mixin absolute0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin flex($justify: null, $align: null, $gap: null, $direction: null) {
  display: flex;

  @if ($justify != null) {
    justify-content: $justify;
  }
  @if ($align != null) {
    align-items: $align;
  }
  @if ($gap != null) {
    gap: $gap;
  }
  @if ($direction != null) {
    flex-direction: $direction;
  }
}
@mixin reset($args...) {
  @each $arg in $args {
    @if (index($reset0, $arg) != null) {
      #{$arg}: 0;
    }
    @if (index($resetnone, $arg) != null) {
      #{$arg}: none;
    }
  }
}

//***** Responsive *****//
@mixin mobile-xs-only {
  @media screen and (max-width: $mobile-xs-width) {
    @content;
  }
}
@mixin mobile-xl-only {
  @media screen and (max-width: $mobile-xl-width) {
    @content;
  }
}
@mixin mobile-tablet-only {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}
@mixin tablet-only {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}
@mixin laptop-only {
  @media screen and (min-width: $laptop-width) {
    @content;
  }
}
@mixin laptop-hd-only {
  @media screen and (min-width: $laptop-hd-width) {
    @content;
  }
}
@mixin fullhd-only {
  @media screen and (min-width: $fullhd-width) {
    @content;
  }
}
@mixin ultrahd-only {
  @media screen and (min-width: $fullhd-width) {
    @content;
  }
}
