//main:../main.scss
$clr-pri: #9356DC;
$clr-sec: #FF79DA;
$clr-ter: #99E2D0;
$clr-ico: #7E7E7E;
$clr-white: #FFFFFF;

$clr-bg: #FFFFFF;
$clr-bg-sec: #F6F6F6;
$clr-footer: #353535;

$clr-form: #EAEAEA;
$clr-btn: #FFFFFF;

$heading-padding: 20px;

$btn-radius: 30px;
$card-width: 335px;
$card-picture-height: 175px;

$mobile-width: 375px;
$tablet-width: 768px;
$laptop-width: 1280px;
$laptop-hd-width: 1440px;
$fullhd-width: 1920px;
$ultrahd-width: 2160px;

//Fonts style
$font-regular: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$s: 13.5px;
$m: 15px;
$l: 18px;
$xl: 25px;
$s-title: 20px;
$l-title: 27px;
$xl-title: 32px;
$thin: 100;
$light: 300;
$medium: 500;
$bold: 700;

//Loading spinner
$load-size: 10px;
$load-dur: 400ms;
$load-num: 3;
$load-delay: $load-dur / $load-num;
$load-random-num: random(3);
